.header{
  z-index: 2;
}
.topBar{
  align-items: center;
  background-color: #353535;
  display: flex;
  height: 24px;
  justify-content: center;
}

.topBar span{
  font-family: var(--primary-font);;
  font-size: 10px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
}

.containerHeader{
  box-shadow: 0px 4px 6px 0px #00000014;
}

.contentHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 27px 16px;
  max-width: 1600px;
  margin: 0 auto;
}

.contentHeader > div{
  align-items: center;
  display: flex;
}

.contentHeaderLeft{
  gap: 15px;
}

.contentHeaderRight{
  gap: 30px;
}

.containerHeader--stuck{
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #ffffff;
}

@media (min-width: 1024px){
  .topBar span{
    font-size: 12px;
  }

  .contentHeaderRight a{
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .contentHeaderRight a span{
    font-family: var(--primary-font);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #353535;
  }

  .contentHeaderRight > :last-child {
    height: 46px;
    border-radius: 8px;
    padding: 0 15px;
    border: 1px solid #FAA500;
  }

  .contentHeaderRight a:hover{
    opacity: .6;
    transition: all 500ms;
  }

  .contentHeader{
    padding: 21px 30px;
    gap: 10px;
  }
}

@media (min-width: 1600px){
  .contentHeader{
    padding: 21px 0;
  }
}