.topBar{
  align-items: center;
  background-color: #353535;
  display: flex;
  height: 24px;
  justify-content: center;
}

.topBar{
  font-family: var(--primary-font);;
  font-size: 10px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
}

.contentHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 27px 16px;
  box-shadow: 0px 4px 6px 0px #00000014;
}

.contentHeader > div{
  align-items: center;
  display: flex;
}

.contentHeaderLeft{
  gap: 15px;
}

.contentHeaderRight{
  gap: 30px;
}