.containerFooter{
  background-color: #353535;
}
.contentFooter{
  max-width: 1600px;
  padding: 30px;
  gap: 35px;
  display: flex;
  flex-direction: column;
  margin: 40px auto 0 auto;
}
.containerSocialNetworks,
.containerPayment{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.containerCredits{
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 20px;
}

.containerCredits > div{
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.containerCredits > div span {
  font-family: 'Open Sans';
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0px;
  text-align: left;
  color: #FFFFFF;
}

@media (min-width: 768px){
  .contentFooter{
    flex-direction: row;
    justify-content: space-between;
    padding: 17px 30px;
  }
}

@media (min-width: 1024px){
  .footer{
    background-color: #FAFAFA;
  }

  .contentFooter{
    margin: 64px auto 0 auto;
  }
}

@media (min-width: 1600px){
  .contentFooter{
    padding: 17px 0;
  }
}

